.clear {
	clear: both;
}

#headshot {
	width: 12.5%;
	float: left;
	margin-right: 30px;
}

#name {
	float: left;
}

#contactDetails {
	float: right;
}

.sectionTitle {
	float: left;
	width: 25%;
	color:#cf8a05;
	font-family:  'arial' ;
	font-style: oblique;
}

.sectionContent {
	float: right;
	width: 72.5%;
	font-family:  arial, sans-serif ;
}


.subDetails {

 font-family:  'arial' ;
 font-style: oblique;
 color: #444444;
}

.borda1 {
	border: 2px solid #cf8a05;
  }

.borda2 {
	border: 1px solid #dedede;
}

.contado {
	color: #181818;
}

body {
	margin: 10%;
	background-color: #f3f3f3;
	font-family: lato, sans-serif;
	color: #444444;
}
h2 {
	font-family: helvetica;
	color: #444444;
}

.keySkills {
	column-count: 3;
}

.contato ul li a{
	
	color: #444444;
}

#headshot img {
	border-radius: 50%;
}